input, button  {
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: rgb(195, 195, 195);
  border-radius: 6px;
  border: solid 1px grey;
  width: 60%;
  height: 30px;
  font-size: 20px;
}

input:focus {
  background-color: white;
}

.signup-form > label {
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.signup-btn {
  background-color: palevioletred;
  color: aliceblue;
  width: 70%;
  height: 30px;
}

.signup-btn:hover {
  background-color: rgb(117, 164, 226);
}

.home-signup {
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: palevioletred;
  border-radius: 6px;
  border: solid 1px transparent;
  width: 30%;
  height: 30px;
  font-size: 15px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
