h3 {
  margin: auto;
  font-size: 5vw;
  text-align: center;
}

input, button  {
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: rgb(195, 195, 195);
  border-radius: 6px;
  border: solid 1px grey;
  width: 30vw;
  height: 30px;
  font-size: 20px;
}

label {
  font-size: 20px;
}

input:focus {
  background-color: white;
}

input:hover {
  background-color: white;
}

.signup-form > label {
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.signup-btn {
  background-color: palevioletred;
  color: aliceblue;
  width: 30vw;
  height: 30px;
  border: transparent;
}

.signup-btn:hover {
  background-color: rgb(117, 164, 226);
}

.home-signup {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: palevioletred;
  border-radius: 6px;
  border: solid 1px transparent;
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.errors {
  text-align: left;
  list-style-type: square;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  color: rgb(175, 0, 0);
  width: 30vw;
  border-radius: 6px;
}

.demo {
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
