.comment-container {
  margin: auto;

}

.comment-ul {
  margin: 50px 50px;
}

.comment-li {
  padding: 10px 10px;
  border: 1px solid rgba(173, 173, 173, 0.2);
  border-radius: 2px;
  box-shadow: 12px 12px 2px 5px rgba(0, 0, 255, .2);
  margin: auto;
}

.comment-li > .comment-nav {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px 77.7px;
  text-align: center;
}

.edit-comment-btn {
  width: 30px;
  height: 30px;
  color: rgba(128, 128, 128, 0.418);
  background-color: transparent;
  border: none;
  margin-top: 0;
}

.edit-comment-btn:hover {
  color: green;
  background-color: transparent;
}

.delete-comment-btn {
  width: 30px;
  height: 30px;
  color: rgba(128, 128, 128, 0.418);
  background-color: transparent;
  border: none;
  margin-top: 0;
}

.delete-comment-btn:hover {
  color: red;
  background-color: transparent;
}


.comment-li > .comment-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.username {
  font-size: 22px;
}

.editbuttons {
  display: flex;
  justify-content: flex-end;
}
