h2 {
  text-align: center;
  font-size: 50px;
  margin: 250px;
  justify-content: center;
}

.container {
  column-count: 5;
  column-gap: 1em;
}

.item {
	transition: .8s opacity;
  display: flex;
  margin: 0 0 1em;
  width: 100%;
  justify-content: center;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.container:hover img {
	opacity: 1;
}
.container:hover img:hover {
	opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/* @media screen and (max-width: 700px) {
  .container {
    column-count: 2;
    column-gap: 1em;
  }
} */

@media (max-width: 1900px) {
  .container {
    columns: 4;
  }
}

@media (max-width: 1500px) {
  .container {
    columns: 3;
  }
}
@media (max-width: 1200px) {
  .container {
    columns: 2;
  }
}
@media (max-width: 450px) {
  .container {
    columns: 1;
  }
}

.image-container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  overflow-y: scroll;
  padding-left: 15px;
}

.text {
  color: #000000;
  font-size: auto;
  vertical-align: top;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

@media (max-width: 1900px) {
  .container {
    columns: 4;
  }
}

@media (max-width: 1500px) {
  .container {
    columns: 3;
  }
}
@media (max-width: 1200px) {
  .container {
    columns: 2;
  }
}
@media (max-width: 450px) {
  .container {
    columns: 1;
  }
}
