.home {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: black;
  text-decoration: transparent;
  font-size: 20px;

}

.nav-div {
  background-color: black;
  padding: 10px;

}

.nav-home {
  display: flex;
  justify-content: left;
  color: white;
  text-decoration: transparent;
  font-size: 30px;
}

.login-signup {
  display: flex;
  justify-content: right;
  align-content: center;
  align-items: center;
}

.profile-btn {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 20px;
}


.profile-div {
  position: relative;
  display: inline-block;
}

.profiledropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  right: 0;
}

.profiledropdown li {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: auto;
  padding: 10px 10px;
}

.profiledropdown li:hover {
  background-color: #f1f1f1;
}


.profile-div .profiledropdown {
  display: block;
}

.profile-div:hover .profile-btn {
  background-color: rgb(100, 98, 98);
}

.logout-btn {
  background-color: rgb(173, 173, 173);
  color: black;
  max-width: fit-content;
  height: 30px;
  border: transparent;
}

.logout-btn:hover {
  background-color: grey;
}

.soulshot {
  text-align: center;
  font-size: 7vw;
  margin: 20% 35% 15% 35%;
  justify-content: center;
}


.tab {
  overflow: hidden;
  display: flex;
  align-content: right;
  justify-content: center;
}

.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: rgb(73, 73, 73);
}

.home-btn:focus {
  background-color: rgb(0, 0, 0);
}

.album-btn:focus {
  background-color: rgb(0, 0, 0);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.home-btn,
.album-btn {
  width: 10%;
  height: 40px;
  background-color: #aaa9a9;
  color: white;
  border-radius: 1px;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  margin: 5px 0px 5px 0px;
  padding: 0;
}
