input, button  {
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: rgb(195, 195, 195);
  border-radius: 6px;
  border: solid 1px grey;
  width: 60%;
  height: 30px;
  font-size: 20px;
}

input:focus {
  background-color: white;
}

/* don't need display and margin but just in case */
.login-form > label {
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 80%;
}

.login-btn {
  background-color: rgb(117, 164, 226);
  color: aliceblue;
  width: 70%;
  height: 30px;
}

.login-btn:hover {
  background-color:palevioletred;

}

.home-login {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: rgb(117, 164, 226);
  border-radius: 6px;
  border: solid 1px transparent;
  width: 100px;
  height: 30px;
  font-size: 15px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
